<script type="application/ld+json">
{
"@context":"https://schema.org",
"@type":"Organization",
"@id":"https://krayu.be/#organization",
"name":"Krayu",
"url":"https://krayu.be",
"logo":"https://i.imgur.com/p9KNpbP.png",
"description":"Program Intelligence advisory firm translating engineering execution into executive insight.",
"sameAs":[
"https://www.linkedin.com/company/krayu"
]
}
</script>
