---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
layout: false
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for p in collections.all -%}
  {%- set ps = p.data.publish_status | default("unknown") -%}
  {%- if ps == "live" and p.url -%}
  <url>
    <loc>https://mirror.krayu.be{{ p.url }}</loc>
  </url>
  {%- endif -%}
{%- endfor -%}
</urlset>
